.flex {
  display: flex;
  flex-wrap: wrap;
}

.clickable {
  cursor: pointer;
}

.item {
  margin: 10px;
  box-shadow: 5px 5px 5px rgb(168, 164, 164);
  width: 160px;
}

.bigger {
  height: 120px;
  width: 230px;
}

mat-card-title {
  justify-content: center;
}

mat-card-footer {
  margin-left: 110px;
  margin-top: 10px;
}

.favIconColor {
  color: red;
}


.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}

.top-bar {
  margin-left: 20px;
  padding-top: 20px;
}

.franchise-heading {
  margin-left: 20px;
}

.radio-button-group {
  margin-left: 10px;
  margin-top: 8px;
}

.search-button {
  margin-left: 10px;
  height: 55px;
  background-color: white;
}

.search-field {
  border: 2px;
}

.spinner {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
}
